<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
      <add name="DALstring"
          connectionString="Server=2A314-C03\MSSQL2016;Database=yoyoProduction;Persist Security Info=True;User ID=sa;Password=Conestoga1"
          providerName="System.Data.SQLClient" />
    </connectionStrings>
</configuration>
